<h1><%= question_header(@question) %></h1>

<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :body %> <br>
    <%= form.text_field :body%> <br>
  </p>

  <p><%= form.submit "Создать"%></p>
<% end %>

<p>
  <%= link_to 'назад', test_questions_path(@question.test_id) %>
<p>