<p>
  <strong>Название: </strong>
  <%= @question.body %>
</p>

<h2>Ответы</h2>
<%= link_to 'Новый ответ', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'изменить', edit_question_path(@question) %>
  <%= link_to 'назад', test_path(@question.test) %>
<p>

