<% if @test_passage.success? %>

<p>
  <h1><%= t('.header', title: @test_passage.test.title) %> </h1>
  <span> <%= t('.success', percent: @test_passage.percent) %> </span>
</p>

<% else %>

<p>
  <h1> <%= t('.fail_test') %> </h1>
  <span> <%= t('.result', percent: @test_passage.percent) %> </span>
</p>

<% end %>

<p>
  <%= link_to t('.to_tests'), tests_path %>
<p>
