<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h1> <%= t('.pass', title: @test_passage.test.title) %> </h1>
    <hr>
    <div class="d-flex justify-content-between"
      <b><%= @test_passage.current_question.body %></b>
      <div><%= t('.question', number: @test_passage.position, count: @test_passage.test.questions.count)%> </div>
    </div>
    <div class="form-group mt-3">
      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
          <div class="form-check">
            <%= b.label class: "form-check-label" %>
            <%= b.check_box id: "answer_ids#{b.object.id}", class: "form-check-input"%>
          </div>
        <% end %>
        <%= form.submit t('element.link.ahead'), class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>