<h1><%= t('.header') %></h1>

<table>
  <thead>
    <th><%= t('.table_header') %></th>
    <th colspan="3"><%= t('.table_action') %></th>
  </thead>

  <%= render @questions %>
</table>

<p>
  <%= link_to t('.create'), new_admin_test_question_path(params[:test_id]) %>
<p>

<p>
  <%= link_to t('.to_tests'), admin_tests_path %>
<p>