<p>
  <strong><%= t('.header') %>: </strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %>:</h2>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render partial: 'admin/answers/answer', collection: @question.answers %>
</ol>

<%= link_to t('element.link.back'), admin_test_path(@question.test) %>

