<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.size %></td>
  <td><%= link_to t('element.link.show'), admin_test_path(test) %></td>
  <td><%= link_to t('element.link.edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('element.link.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('element.popup.confirm')} %>
  </td>
</tr>