<h1><%= t('.header') %></h1>

<p><%=link_to t('.create'), new_admin_test_path %></p>

<table>
  <theader>
    <th><%= t('.table_header') %></th>
    <th><%= t('.table_level') %></th>
    <th><%= t('.table_count') %></th>
    <th colspan=""><%= t('.table_action') %></th>
  </theader>

  <%= render @tests %>
</table>

