<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %> <br>
    <%= form.text_field :title%> <br>
  </p>

  <p>
    <%= form.label :level %> <br>
    <%= form.text_field :level%> <br>
  </p>
  <p>
    <%= form.label :category_id %> <br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true%> <br>
  </p>

  <p><%= form.submit %></p>
<% end %>

<p>
  <%= link_to 'Назад', tests_path %>
<p>
