<!DOCTYPE html>
<html>
<head>
  <title>Админ панель | TestGuru</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%# if user_signed_in? %>
<!--  <div class="nav user">-->
<!--    <div class="left">-->
<!--      <div class="main"><%#= link_to 'Тест Гуру', root_path %></div>-->
<!--    </div>-->
<!--    <div class="right">-->
<!--      <div class="welcome">Добро пожаловать, <b><%#= current_user.first_name %></b> Гуру</div>-->
<!--      <div class="logout"><%#= link_to 'Выйти', destroy_user_session_path, method: :delete %></div>-->
<!--    </div>-->
<!--  </div>-->
<%# end %>

<%= render 'admin/nav' %>
<%= render 'shared/flash' %>

<%= yield %>
</body>
</html>
